<div class="container">

    <div class="grid-letter mt-5 mb-5">
      <% @letters.shuffle.each do |letter| %>
        <div class="letter d-flex">
          <p><%= letter.upcase %></p>
        </div>
      <% end %>
    </div>

  <%= simple_form_for @game do |f| %>
    <%= f.submit label: "Jouer" %>
  <% end %>



</div>
